

.hero-section {
  background-image: url(../image/hero.jpg);
  background-size: cover;      
  background-position: center; 
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.hero-section h2 {
  font-size: 50px;
  font-family: "Roboto Mono", cursive;
  font-weight: 600;
  margin-bottom: 5px; 
  margin-left: 43%; 
}

.hero-section p {
  font-size: 30px;
  font-weight: 200;
  margin: 0;
  margin-left: 45%; 
}
